@define-color tokyoNight  #7aa2f7;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(13, 16, 23, 0.92);
}

button {
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: 25%;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid transparent;
    margin: 10px;
    padding-top: 50px;
    color: @tokyoNight;
}

button:focus {
    border-color: @tokyoNight;
}

button:hover {
    background-color: #131721;
}

#lock {
    background-image: url("icons/lock.png");
}

#logout {
    background-image: url("icons/logout.png");
}

#suspend {
    background-image: url("icons/suspend.png");
}

#shutdown {
    background-image: url("icons/shutdown.png");
}

#reboot {
    background-image: url("icons/reboot.png");
}

#hibernate {
    background-image: url("icons/hibernate.png");
}
