@define-color night #7aa2f7;
@define-color ayu #00ffaa;

@define-color surface #1e1e2e;
@define-color border #24283b;

* {
  font-family: "JetBrainsMonoNL Nerd Font";
  font-size: 13px;
  color: @night;
  background: transparent;
}

.control-center {
  background-color: rgba(13, 16, 23, 0.8);
  border: 1px solid @border;
  border-radius: 10px;
  padding: 3px;
}

.widget-title {
  margin-bottom: -5px;
}

.widget-title > button:hover label {
  color: @ayu;
}

.widget-dnd {
  margin-top: -5px;
  margin-bottom: -15px;
}

.widget-dnd switch {
  background: @border;
}

.widget-dnd switch slider {
  background: @night;
  box-shadow: none;
}

.widget-dnd switch:checked {
  background: @ayu;
}

.widget-dnd switch:checked slider {
  background: white;
}

.notification {
  background: @surface;
  border: 1px solid @border;
  margin: 2px 0px;
  padding: 6px 8px;
}

.time {
  color: @ayu;
}

.close-button:hover {
  background: @ayu;
}

.close-button:hover image {
  color: white;
}

.widget-mpris {
  margin-top: -10px;
  padding: 4px 2px;
}

.widget-mpris * {
  color: @ayu;
}

.widget-mpris > button {
  background: red !important;
}

.widget-volume {
  margin-top: -15px;
  margin-bottom: -5px;
  padding: 4px 2px;
}

.widget-volume trough {
  background: #1a2033;
  min-height: 4px;
}

.widget-volume highlight {
  background: @night;
}

.widget-volume slider {
  background: @ayu;
  box-shadow: none;
}

scrollbar slider {
  background: @border;
}

scrollbar slider:hover {
  background: @night;
}
