@define-color night  #7aa2f7;
@define-color ayu   #00ffaa;

* {
    font-family: "JetBrainsMonoNL Nerd Font";
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background-color: #0d1017;
    border: 1px solid @night;
    border-radius: 10px;
    color: @night;
}

#workspaces button {
    color: @night;
    border-radius: 0;
    border: none;
    padding: 2px 5px;
    margin-right: 5px;
}

#workspaces button.active {
    color: @night;
    border-bottom: 2px solid @night;
    border-radius: 0;
}

#workspaces button.urgent {
    color: #11111b;
    background: @ayu;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @night;
    color: #11111b;
    border-radius: 5px;
}

#tray,
#pulseaudio,
#clock,
#battery,
#workspaces,
#custom-swaync,
#custom-power,
#custom-arch,
#network,
#temperature {
    color: @night;
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    border: none;
}

#custom-arch {
    margin-left: 5px;
    border-radius: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#tray {
    border-radius: 10px;
    margin-right: 5px;
}

#tray * {
    margin: 0 6px;
}

#pulseaudio {
    border-radius: 10px 0px 0px 10px;
}

#clock {
    border-radius: 10px;
}

#network {
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
}

#battery {
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
}

#battery.warning {
    color: @ayu;
}

#battery.critical {
    color: #ff246d;
}

#temperature {
    border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
    color: #ff246d;
}

#custom-swaync {
    border-radius: 10px 0px 0px 10px;
}

#custom-power {
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
}
